.list{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;

    li{
        text-decoration: none;
        list-style-type: none;
    }

    .card{
        display: flex;
        gap: 1rem;
        border: 1px solid black;
        margin: 2rem;
        padding: 1.2rem;
        justify-content: space-between;
        border-radius: 10px;
    }
}